body {
  margin: 0px;
  height: 100vh;
  padding: 0px;
  background: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#root {
  margin: 0px;
}
.body {
  width: 100%;
  height: 100vh;
  margin: 0px;
}

.top {
  width: 100%;
  text-align: center;
}

.input {
  width: 85%;
  height: 2.8rem;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(231, 228, 228);
  border: none;
  margin: 2.5px;
  padding-left: 15px;
  background: rgb(243, 242, 239);
  font-size: 15px;
}

input:focus {
  outline: none;
}

.button{
  width: 90%;
  height: 2.4rem;
  border-radius: 3px;
  border: none;
  margin: 5px;
  background: blue;
  color: white;
  font-weight: 1000;
  font-size: 15px;
  text-shadow: 1px 1px 3px black;
}

.create{
  width: 50%;
  height: 2.1rem;
  border-radius: 3px;
  border: none;
  margin: 5px;
  background: green;
  color: white;
  font-weight: 1000;
  font-size: 15px;
  text-shadow: 1px 1px 3px black;
}

h1 {
  color: blue;
  font-size: x-large;
}

hr {
  width: 40%;
  margin: 0px;
}

.hr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.left{
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left p{
  font-size: small;
  margin: 0px;
}