#root {
  /* background-color: rgb(222, 223, 224); */
  height: 100vh;
  margin: 0px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0px;
}
.back {
  width: 100vw;
  height: 100vh;
  background-image: url("./components/mss.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(27rem);
}
.body {
  height: 22rem;
  width: 27.5rem;
  position: absolute;
  top: 22%;
  left: 33.7%;
  z-index: 2;
  background-color: white;
  box-shadow: 0.5px 0.5px 5px 1px rgb(181, 184, 192);
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  /* color: steelblue; */
}

.form {
  /* height: 73%; */
  width: 79%;
  display: flex;
  flex-direction: column;
}

.arrow {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  float: left;
}

.arrow:hover {
  background-color: rgb(219, 220, 223);
}

input {
  border: none;
  width: 100%;
  height: 2rem;
  padding: 0px;
  font-size: large;
}
input:focus {
  outline: none;
}
.fg {
  font-size: small;
  color: rgb(28, 100, 194);
}

h2 {
  color: rgb(19, 19, 27);
}

.btn {
  border: none;
  background: rgb(12, 83, 177);
  color: white;
  height: 2rem;
  width: 6.8rem;
  float: right;
  font-size: 15px;
}

.users {
  padding: 1rem;
}

.getbtn {
  border: none;
  background: rgb(17, 112, 190);
  color: white;
  height: 2.5rem;
  width: 8rem;
  font-weight: bold;
}

/* button {
  border-radius: 5px;
} */

.footer {
  z-index: 2;
  font-size: small;
  float: right;
  margin: 0px;
}

footer {
  padding: 1rem;
  width: 100%;
}

hr {
  margin-top: 3px;
}

@media screen and (max-width: 900px) {
  * {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  ::placeholder {
    color: rgb(68, 71, 71);
  }
  .btn {
    border-radius: 4px;
    font-weight: bold;
  }
  .fg {
    color: rgb(12, 83, 177);
  }
  .back {
    display: none;
  }
  .body {
    height: 90vh;
    width: 100vw;
    top: 0%;
    left: 0%;
    box-shadow: none;
  }
  .form {
    height: 90%;
    width: 90%;
  }
  .footer {
    float: none;
  }
  footer {
    text-align: center;
  }
}
